/*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Raleway';
}

header{
	background-color:#F50B93;
	position: fixed;
	z-index: 1000;
	width: 100%;
}

.logo-lyft{
	width:80px;
	display: inline-block;
	margin-left: 100px;
	margin-top: 30px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li{
	margin-right: 100px;
	margin-top: -16px;
}	


li a{
	float: right;
	display: inline-block;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active){
	background-color: #E56385;
}

.imagen-estatica{
	position: fixed;
	width: 100%;
}

footer{
	position: absolute;
	z-index: 1000;
	background-color: #EDE9E2;
	bottom: -6px;
	width:100%;
}

.img-footer{
	width: 30px;
	float: right;
	display: inline-block;
	margin-right:380px;
}

.p-img:hover{
	background-color: #DC96B9;
}

footer p{
	font-family: "Raleway";
	font-size: 25px;
	text-align: center;
	padding: 10px;
}